---
title: CQC
---
<h2>Frequently Asked Questions</h2>
<ul>
  <li><a href="#who-cqc">Who are the CQC?</a></li>
  <li><a href="#what-cqc">What do they do and why?</a></li>
  <li><a href="#how-cqc">How do they do it?</a></li>
  <li><a href="#inspection-cqc">What happens in an Announced Inspection?</a></li>
  <li><a href="#during-cqc">What do I/we have to do during an inspection?</a></li>
</ul>
<h3 id="who-cqc">Who are the CQC?</h3>
<p class="lead">The CQC (Care Quality Commission) is the independent regulator of adult Health and Social Care in England.</p>
<p>The CQC (Care Quality Commission) is the independent regulator of adult Health and Social Care in England. </p> 
<p>Anyone providing health or social care (including hospitals, mental health care, community care, care homes, nursing homes, dentists, and GPs) must register with the CQC.</p>
<p>The CQC are providing public ratings for all the services they regulate, so that people can see how good a provider is, to encourage improvement and help people to make choices about their care.</p>
<h3 id="what-cqc">What do they do and why?</h3>
<p class="lead">The CQC exists to make sure that health and social care services provide people with safe, effective, compassionate, high quality care and they encourage care services to improve.</p>
<p>The CQC sets standards for safety and quality that people should expect whenever they receive care </p>
<p>They monitor, inspect and regulate services to make sure they meet the fundamental standards of quality and safety.  They publish these findings and rate the services accordingly to help people choose care.</p>
<h3 id="how-cqc">How do they do it?</h3>
<p class="lead">The CQC carries out in-depth planned investigations to look at care across systems.  They also make un-announced visits, from time to time.</p>
<p>The CQC listens to and acts on people’s views and experiences of care received. The CQC monitor and respond to information from NHS Choices, patient and staff surveys and the local Healthwatch feedback, amongst others.</p>
<p>They aim to make fair and authoritative judgments, supported by the best information and evidence available and take appropriate action if care services are failing to meet the fundamental standards</p>
<p>The CQC report on the quality of care services, publishing clear and comprehensive information, including performance ratings, that will help people choose their care.</p>
<p>Throughout everything the CQC do, they always seek to:</p>
<ul>
  <li>put people who use services at the heart of their work</li>
  <li>have an open and accessible culture</li>
  <li>be independent, rigorous, fair and consistent</li>
  <li>work in partnership across the health and social care system</li>
  <li>be committed to being a high-performing organisation</li>
  <li>promote equality, diversity and human rights</li>
</ul>
<h3 id="inspection-cqc">What happens in an Announced Inspection?</h3>
<p class="lead">During an Inspection the CQC inspectors look at  more than 150 different sets of data about the Trust to help decide when, where and what to inspect.</p>
<p>The data they look at (or indicators) includes information from:</p>
<ul>
  <li>staff</li>
  <li>patient surveys</li>
  <li>mortality rates</li>
  <li>hospital performance information such as waiting times and infection rates</li>
</ul>
<h3 id="during-cqc">What do I/we have to do during an inspection?</h3>
<p class="lead">During an inspection, you may meet an inspector – either in your normal workplace, or at an organised event e.g. a staff forum. </p>
<p>You may be asked questions about your work, your access to training and appraisal, or about staff engagement, staffing levels or safety concerns.</p>
<p>If you are asked a question by an inspector and you know the answer, take part and answer confidently. If you don’t know the answer to a question – it’s OK to say so, and to suggest who may have the information they want.</p>
<p>When visiting, inspectors normally want to speak to patients, but they won’t delay observations, tests or procedures, access to meals or urgent care.</p>
<p>If a patient is distressed or unwell, make sure the inspection team are informed.</p>
<p>If a patient requires barrier nursing, make sure the inspection team are informed.</p>
<p>Inspection teams will probably ask to see patients’ records. </p>
<p>They may also want information about the management of the ward/service. The Senior Sister / Ward Manager or Service Manager will help provide this information.</p>