---
title: CQC Visit
---
<h1>Our Upcoming CQC Visit</h1>
<%= image_tag "andrew_cash.jpg", class: "pull-right", width: "180" %>
<p class="lead">The CQC will inspect the Trust week commencing the <strong>7th December</strong> and will be here for at least 5 days.</p>
<p>The inspection is our chance to shine and to highlight all the things that we are proud of.</p>

<p>I am looking forward to showing the Care Quality Commission why, thanks to the amazing people who work right across our hospital and community services, we are Proud to Make a Difference for our patients, their families and indeed each other.</p>
<p>Everyone can play a part in preparing for the visit and ensuring your area, team and service shines.</p>
<p><strong>- Andrew Cash, Chief Executive</strong></p>
<br>
<br>
<h2 id="1">What is the CQC Inspection?</h2>
<p class="lead">The CQC will inspect the Trust week commencing the 7th December and will be here for at least 5 days.</p>
<p>The CQC (Care Quality Commission) is the independent regulator of adult Health and Social Care in England. The CQC are providing public ratings for all the services they regulate, so that people can see how good a healthcare provider is, to encourage improvement and help people to make choices about their care.</p>
<h5>All NHS Trusts are being inspected to see if they are:</h5>
<ul>
  <li>Safe</li>
  <li>Effective</li>
  <li>Caring</li>
  <li>Responsive to patients’ needs</li>
  <li>Well led</li>
</ul>
<h5>Following the visit, the CQC will rate us as:</h5>
<ul>
  <li>Outstanding</li>
  <li>Good</li>
  <li>Requiring improvement</li>
  <li>Inadequate</li>
</ul>
<%= image_tag "cqc-cartoon.jpg", class: "img-responsive", width: "100%" %>
<p class="clearfix"><a href="#top" class="pull-right">Back to the Top</a></p>
<h2>Who are the inspectors and what do they do?</h2>
<p class="lead">The inspection will include announced and unannounced visits to wards and departments.</p>
<p>The inspection teams are likely to follow patients through their pathway, and inspect our services. The CQC also monitor and respond to information from websites and other social media, patient and staff surveys and the local Healthwatch feedback, amongst others.</p>
<p>They aim to make fair and authoritative judgments, supported by the best information and evidence available and take appropriate action if care services are failing to meet the fundamental standards. During an inspection the CQC inspectors look at more than 150 different sets of data about the Trust to help decide when, where and what to inspect.</p>
<p>The data they look at (or indicators) includes information from staff, patient surveys, mortality rates and hospital performance information such as waiting times and infection rates</p>
<%= image_tag "cqc-cartoon-3.jpg", class: "img-responsive", width: "100%" %>
<p class="clearfix"><a href="#top" class="pull-right">Back to the Top</a></p>
<h2>What might be asked of you?</h2>
<p class="lead">The inspection team can ask any questions, of any member of staff, including students and volunteers.</p>
<p>For example, they may be interested in how your ward/department has learned lessons from an incident, or action you are taking on Infection Prevention and Control.</p>
<p>You may be asked questions about your work, your access to training and appraisal, or about staff engagement, staffing levels or safety concerns.</p>
<p>If you are asked a question by an inspector and you know the answer, answer confidently. If you don’t know the answer to a question - it’s OK to say so, and to suggest who may have the information they want.</p>
<p>When visiting, inspectors normally want to speak to patients, but they won’t delay observations, tests or procedures, access to meals or urgent care.</p>
<p>If a patient is distressed or unwell, make sure the inspection team is informed. If a patient requires barrier nursing, make sure the inspection team is informed. Inspection teams will probably ask to see patients’ records.</p>
<p>They may also want information about the management of the ward/service. The Senior Sister / Ward Manager or Service Manager will help provide this information.</p>
<p>Remember you can be proud to talk about the positive, it’s easy to forget to step back and consider the good things you are doing and the positive things you have done for our patients.</p>
<p>The inspection process is a great opportunity to tell the inspectors what’s going well within the organisation. The inspectors will always ask ’so what .’ Try to back up any statements you make about improved services etc with a real life example of the difference it’s made. Be prepared with at least 3 really good examples where what you have done has made a difference to a patient or indeed has made a service better.</p>
<%= image_tag "cqc-cartoon-2.jpg", class: "img-responsive", width: "100%" %>
<p class="clearfix"><a href="#top" class="pull-right">Back to the Top</a></p>
<h2>What happens after the visit?</h2>
<p class="lead">After the visit the CQC then take some time to write a report and to determine our rating. The CQC team is unlikely to give us much information immediately.</p>
<p>We will be given a draft report to review for accuracy and the CQC will hold a quality summit around six weeks after the inspection. We will then be given a rating which will be published on the internet and we have to display across our sites. I will of course be providing feedback to you once we have a final report and outcome.</p>
<h4>Further Information</h4>
<p>To find out more about the CQC visit you can use our dedicated resouces. <a href="#top">You can find our resouces back at the top of the page</a></p>