---
title: Welcome to Middleman
---
<h2>CQC Visit Homepage</h2>
<p class="lead">The CQC will inspect the Trust week commencing the <strong>7th December</strong> and will be here for at least 5 days.</p>
<p>The inspection is our chance to shine and to highlight all the things that we are proud of.</p>