---
title: CQC Visit
---
<h1>Our Upcoming CQC Visit</h1>
<%= image_tag "andrew_cash.jpg", class: "pull-right", width: "180" %>
<p class="lead">The CQC will inspect the Trust week commencing the <strong>7th December</strong> and will be here for at least 5 days.</p>
<p>The inspection is our chance to shine and to highlight all the things that we are proud of.</p>

<p>I am looking forward to showing the Care Quality Commission why, thanks to the amazing people who work right across our hospital and community services, we are Proud to Make a Difference for our patients, their families and indeed each other.</p>

<p>Everyone can play a part in preparing for the visit and ensuring your area, team and service shines.</p>

<p><strong>Andrew Cash - Chief Executive</strong></p>

<hr>

<h3>What is the CQC Inspection?</h3>
<p class="lead">The CQC will inspect the Trust week commencing the 7th December and will be here for at least 5 days.</p>
<p>The CQC (Care Quality Commission) is the independent regulator of adult Health and Social Care in England. The CQC are providing public ratings for all the services they regulate, so that people can see how good a healthcare provider is, to encourage improvement and help people to make choices about their care.</p>
<h5>All NHS Trusts are being inspected to see if they are:</h5>
<ul>
  <li>Safe</li>
  <li>Effective</li>
  <li>Caring</li>
  <li>Responsive to patients’ needs</li>
  <li>Well led</li>
</ul>
<h5>Following the visit, the CQC will rate us as:</h5>
<ul>
  <li>Outstanding</li>
  <li>Good</li>
  <li>Requiring improvement</li>
  <li>Inadequate</li>
</ul>
<%= image_tag "cqc-cartoon.jpg", class: "img-responsive", width: "100%" %>

<hr>

<h3>Who are the inspectors and what do they do?</h3>
<p class="lead">The inspection will include announced and unannounced visits to wards and departments.</p>
<p>The inspection teams are likely to follow patients through their pathway, and inspect our services. The CQC also monitor and respond to information from websites and other social media, patient and staff surveys and the local Healthwatch feedback, amongst others.</p>
<p>They aim to make fair and authoritative judgments, supported by the best information and evidence available and take appropriate action if care services are failing to meet the fundamental standards. During an inspection the CQC inspectors look at more than 150 different sets of data about the Trust to help decide when, where and what to inspect.</p>
<p>The data they look at (or indicators) includes information from staff, patient surveys, mortality rates and hospital performance information such as waiting times and infection rates</p>
<%= image_tag "cqc-cartoon-2.jpg", class: "img-responsive", width: "100%" %>