---
title: Welcome to Middleman
---

<p class="lead">The CQC will inspect the Trust week commencing the 7th December and will be here for at least 5 days.</p>
<p>The inspection is our chance to shine and to highlight all the things that we are proud of.</p>