---
title: CQC Information Sheets
---
<h2>Information Sheets</h2>
<p class="lead">These information sheets have been produced in response to feedback from staff. The sheets can be used to remind yourself of key topics or to brief team members should you need to.</p>
<p>Over the coming weeks, further sheets relating to the Key Lines of Enquiry (KLOE) used by the Care Quality Commission will be added to the list below.</p>
