<p class="pull-right"><a href="#top">Back to the Top</a></p>
<p class="clearfix"><a href="http://nww.sth.nhs.uk/">Intranet Home</a> | <a href="http://nww.sth.nhs.uk/NHS/PatientAndHealthcareGovernance/">Patient &amp; Healthcare Governance</a></p>