<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Menu</h3></div>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Home", "/index.html" %></li>
    <li class="list-group-item"><%= link_to "Frequently Asked Questions", "/faq.html" %></li>
  </ul>
</div>
<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Information Sheets</h3></div>
  <ul class="list-group">
    <li class="list-group-item">Information Sheet Page</li>
    <li class="list-group-item">Sheet one</li>
    <li class="list-group-item">Sheet two</li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Checklists</h3></div>
  <ul class="list-group">
    <li class="list-group-item">Checklist Page</li>
    <li class="list-group-item">Ward List</li>
    <li class="list-group-item">Ward List</li>
  </ul>
</div>